<div >
    <div >
      <span ><img src="" width="85"alt="">MAGELLAN</span>
      <h3 >Create an account</h3>
    </div>
    <div >
      <div >
        <span ><img src="" width="85"alt="">MAGELLAN</span>
        <h3 >Create an account</h3>
      </div>
      <form name="vm.userForm" ng-submit="signup()"  novalidate autocomplete="off">
        <fieldset>
          <div  show-errors>
            <label  for="firstName">First Name</label>
            <input type="text" pattern="^[^\s]+(\s+[^\s]+)*$" id="firstName" name="firstName"  ng-model="vm.credentials.firstName" placeholder="First Name" required autofocus>
            <div ng-messages="vm.userForm.firstName.$error" role="alert">
              <p  ng-message="required">First name is required.</p>
            </div>
          </div>
          <div  show-errors>
            <label  for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName"  ng-model="vm.credentials.lastName" placeholder="Last Name" required>
            <div ng-messages="vm.userForm.lastName.$error" role="alert">
              <p  ng-message="required">Last name is required.</p>
            </div>
          </div>
          <div  show-errors>
            <label  for="email">Email</label>
            <input type="email" id="email" name="email"  ng-model="vm.credentials.email" placeholder="Email" lowercase required>
            <div ng-messages="vm.userForm.email.$error" role="alert">
              <p  ng-message="required">Email address is required.</p>
              <p  ng-message="email">Email address is invalid.</p>
            </div>
          </div>
          <div  show-errors>
            <label  for="username">Username</label>
            <input type="text" id="username" name="username"  ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="Username" lowercase required>
            <div ng-messages="vm.userForm.username.$error" role="alert">
              <p  ng-message="required">Username is required.</p>
              <p  ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
            </div>
          </div>
          <div  show-errors>
            <label  for="password">Password</label>
              <input type="password" id="password" name="password"  ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
              <p >Password must be at least 6 character long, and can't be things like password, 123456 or abcdef.</p>
            <div ng-messages="vm.userForm.password.$error" role="alert">
              <p  ng-message="required">Password is required.</p>
              <div ng-repeat="passwordError in passwordErrors">
                <p  ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
              </div>
            </div>
          </div>
          <div  ng-show="!vm.userForm.password.$error.required">
            <label>Password Requirements</label>
            <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
          </div>
          <div >
            <button type="submit" >CREATE AN ACCOUNT</button>
            <p style="margin-top:10px;">
            <span >Already have a magellan account?</span>
            <a  ui-sref="authentication.signin" >Sign in</a>
            </p>
          </div>
        </fieldset>
      </form>
    </div>
  </div>