<div ng-if="loaded===true">
<aside ng-show="!isLoggedIn" data-ng-include="'/modules/topbars/views/topbar.html'"></aside> 
<aside ng-show="isLoggedIn" data-ng-include="'/modules/topbars/views/topbar4.html'"></aside>
</div>   
<section class="margin-for-topbar-main">
<div class="section-box row container-fluid">
        <div class="col-lg-12">
            <h1 class="head-section-margin" translate="EXPERT.TYPE-TITLE"></h1>
            <div class="section-box container-fluid" ng-repeat="ex in jobTypesRow">
                <div class="col-lg-12" id="jobrow">
                    <slick 
                    infinite=true 
                    slides-to-show="10" 
                    slides-to-scroll="1">
                        <div class="slick-item col-sm-5 col-md-4 col-lg-2" ng-repeat="data in jobTypes">
                            <a ng-href="/#/jobtype-experts{{data._id}}">
                                <!-- <div class="wrap">  
                                    <figure class="tint">
                                        <img style="width:100%" ng-src="{{data.imgExpertUrl}}">
                                    </figure>  
                                </div> -->
                                <img style="width:100%" ng-src="{{data.imgExpertUrl}}">
                                <p class="textcover-img">{{data.name[lang]}}</p>
                                <p class="textcover-img"></p>
                            </a>
                        </div>
                    </slick>
                </div>
            </div>

        </div>
    </div>
    <div class="section-box container-fluid">
        <div class="col-lg-12">
            <h1 class="head-section-margin">{{experts[0].jobType.name[lang]}}</h1>
            <!-- <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in experts" style="height:420px;"> -->
            <div class="slick-item col-sm-5ths col-md-5ths col-lg-5ths wrap-hi" ng-repeat="data in experts">
                <div class="amPmCheckbox">
                    <input type="checkbox" class="checkboxLabel main_street_input" id="{{data._id}}" value="1" />
                    <label for="{{data._id}}"></label>
                </div>
                <a ng-href="/#/experts-detail{{data._id}}">
                    <div class="crop-slide-img">
                        <img class="slide-slick" ng-src="{{data.profileImg[0].url}}">
                    </div>
                <p class="experts-name">{{data.name[lang]}}</p>
                <span class="experts-tag">{{data.tag.name[lang]}}</span>
                <div class="experts-rating" ng-if="data.rating===0">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===1">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===2">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===3">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===4">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===5">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                </div>
                <p><img src="assets/img/location.png">{{data.location | getDistance}} km {{data.location.name}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="section-box row container-fluid">
        <div class="jobinterest-wrapper">
            <h1 translate="EXPERT.INTR-TITLE"></h1>
            <p translate="EXPERT.INTR-PARA1"></p>
            <p translate="EXPERT.INTR-PARA2"></p>
            <button ng-click="exptCre()" class="btn btn-action" translate="EXPERT.INTR-REGIS"></button>
        </div>
    </div>
</section>
<aside data-ng-include="'/modules/footers/views/footer.html'"></aside> 