<div ng-if="loaded===true">
<aside ng-show="!isLoggedIn" data-ng-include="'/modules/topbars/views/topbar3.html'"></aside> 
<aside ng-show="isLoggedIn" data-ng-include="'/modules/topbars/views/topbar5.html'"></aside>
</div>  
<section  class="margin-for-topbar-main">
    <div class="section-box container-fluid">
        <div class="col-lg-12">
            <center>
            <h1 class="search-section-head"><img src="assets/img/search.png">&nbsp;&nbsp;{{keyword}}</h1>
            </center>
        </div>
    </div>
    <div class="section-box container-fluid">
        <div class="col-lg-12">
            <h1 class="head-section-margin"  translate="SEARCH.TITLE"></h1>
            <div ng-show="qnull"  translate="MTR.NOTFOUND"></div>
            <div class="col-sm-5ths col-md-5ths col-lg-5ths" ng-repeat="data in expertdata | limitTo: 5">
                <div  class="amPmCheckbox"  ng-click="favExpt(data._id, data.isFavorite)" >
                    <input type="checkbox" class="checkboxLabel main_street_input" id="{{data._id}}" value="1" ng-checked="data.isFavorite"/>
                    <label for="{{data._id}}"></label>
                </div>
                <a ng-href="/#/experts-detail{{data._id}}">
                <img style="width:100%" height="278px"ng-src="{{data.profileImg[0].url}}">
                <p class="experts-name">{{data.name[lang]}}</p>
                <span class="experts-tag">{{data.tag.name[lang]}}</span>
                <div class="experts-rating" ng-if="data.rating===0">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===1">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===2">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===3">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===4">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating.png">
                </div>
                <div class="experts-rating" ng-if="data.rating===5">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                    <img src="assets/img/rating-active.png">
                </div>
                <p><img src="assets/img/location.png">{{data.location | getDistance}} km {{data.location.name}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="section-box container-fluid search-section-job-wrapper">
        <h1 class="head-section-jobs" translate="SEARCH.JOB-TITLE"><span class="float-r-jobs"><a href="/#/jobs" class="btn btn-more" translate="MTR.SEEALL"></a></span></h1>
        <div class="col-sm-3 col-md-3 col-lg-3 "> 
            <div ng-show="qnull" translate="MTR.NOTFOUND"></div>
            <div class="col-sm-6 col-md-6 col-lg-5 job-tumbnail-repeat-col" ng-repeat="data in jobdata">
                <img style="width:100%;margin-bottom:10px" ng-src="{{data.imgJobUrl}}">
                <p class="textcover-img-job-home">{{data.name[lang]}}</p>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9" style="padding-left:0px;"> 
            <div class="col-sm-6 col-md-6 col-lg-6 job-post-repeat-col" ng-repeat="data in jobdata" style="padding-left:0px;">
                <div class="job-post-wrapper" ng-click="jobsModal(data._id)">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        {{data.name[lang]}}&nbsp;
                        <div  class="status-new" ng-if="data.status=='NEW'"><span>{{data.status}}</span></div>
                        <div  class="status-prog" ng-if="data.status=='IN PROGRESS'"><span>{{data.status}}</span></div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <p class="job-price">
                        <span class="currency-ssn">฿</span>
                        {{data.price}}
                        </p>
                        <p class="job-unit">
                        {{data.priceType}}
                        </p>     
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <button class="btn tag-category">{{data.jobType.name[lang]}}</button>
                        <button class="btn tag-category">{{data.tag.name[lang]}}</button>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5" style="text-align:right;">
                        <p class="job-name">{{data.user.firstName}} {{data.user.lastName}}</p>
                        <img class="jobs-tumbnail-poster" ng-src="{{data.user.imgUrl}}">  
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/ng-template" id="jobModalHome.html">
    <div class="modal-header job-modal-header" translate="MODAL.JOB-TITLE">
        <span ng-click="closeMD()">X</span>
    </div>
    <div class="modal-body job-modal-body" id="modal-body">
        <div class="job-topic-cover row">
            <div class="col-sm-9 col-md-9 col-lg-9">
                {{jobdatas.name[lang]}}&nbsp;
                <div class="status-new" ng-if="jobdatas.status=='NEW'"><span>{{jobdatas.status}}</span></div>
                <div class="status-prog" ng-if="jobdatas.status=='IN PROGRESS'"><span>{{jobdatas.status}}</span></div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <p class="job-price">
                <span class="currency-ssn">฿</span>
                {{jobdatas.price}}
                </p>
                <p class="job-unit">
                {{jobdatas.priceType}}
                </p>     
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <button class="btn tag-category">{{jobdatas.jobType.name[lang]}}</button>
                <button class="btn tag-category">{{jobdatas.tag.name[lang]}}</button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" style="text-align:right;">
                <p class="job-name">{{jobdatas.user.firstName}} {{jobdatas.user.lastName}}</p>
                <img class="jobs-tumbnail-poster" ng-src="{{jobdatas.user.imgUrl}}">  
            </div>
        </div>
        <div class="job-detail-cover row">
            <h2 translate="MODAL.JOB-Detail"></h2> 
            <p>{{jobdatas.detail[lang]}}
            </p>
        </div>
    </div>
    <div class="modal-footer job-modal-footer">
        <button class="btn dialog-action btn-action" type="button" ng-click="chatToEmployer(jobdatas)" translate="MODAL.JOB-BTN-Offer"></button>
    </div>
</script>
</section>
<aside data-ng-include="'/modules/footers/views/footer.html'"></aside> 