<div ng-if="loaded===true">
<aside ng-show="!isLoggedIn" data-ng-include="'/modules/topbars/views/topbar3.html'"></aside> 
<aside ng-show="isLoggedIn" data-ng-include="'/modules/topbars/views/topbar5.html'"></aside>
</div>  
<section class="container-fluid" style="padding:0px;">
<div class="section-box profile-top-wrap" style="margin-top:73px;">
    <div class="profile-crop">  
            <img ng-src="{{user.experts[0].profileImg[0].url}}">
    </div>
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <p><img style="display:inline;"src="assets/img/location.png">{{user.address || '-'}}</p>
</div>
<div class="section-box col-sm-6 col-md-6 col-lg-6 ">
    <div class="section-shadow ">
        <h1 class="head-section-margin" translate="SETTING.TITLE"></h1>
        <form ng-submit="updateProfile()" name="upProfile" autocomplete="off">
            <div class="form-group form-g-setting">
                <label translate="MTR.NAME"></label>
                <input type="text" ng-model="user.firstName" ng-pattern="/^[a-zA-Z\s]*$/" name="firstname" class="form-control" placeholder="ชื่อ" required ng-minlength="2"/>
            </div>
            <div class="form-group form-g-setting">
                <label  translate="MTR.LASTNAME"></label>
                <input type="text" ng-model="user.lastName" ng-pattern="/^[a-zA-Z\s]*$/"  name="lastname" class="form-control" placeholder="นามสกุล" required ng-minlength="2"/>
            </div>
            <div class="form-group form-g-setting">
                <label translate="MTR.TEL"></label>
                <input type="text" ng-model="user.mobileNo" ng-pattern="/^[0-9]{10,10}$/"  name="tel" class="form-control" placeholder="089-999-9999" required ng-minlength="10"/>
            </div>
            <div class="form-group form-g-setting">
                <label translate="MTR.EMAIL"></label>
                <input type="email" ng-model="user.email" name="email" class="form-control" placeholder="name@gmail.com" required ng-minlength="10"/>
            </div>
            <div class="form-group form-g-setting">
                <label translate="MTR.IDCARD"></label>
                <input type="idCard" ng-model="user.idCard" name="idCard" class="form-control" placeholder="เลขบัตรประชาชน" required ng-minlength="13"/>
            </div> 
            <div class="form-group form-g-setting">
                <label translate="MTR.ADDR"></label>
                <input type="text" ng-model="user.address" ng-pattern="/^[a-zA-Z\s]*$/" name="address" class="form-control" placeholder="ที่อยู่" required ng-minlength="10"/>
            </div>
            <h1 class="head-section-margin" translate="MTR.BANK-TITLE"></h1>
            <div class="form-group form-g-setting col-lg-12">
                    <label translate="MTR.BANK"></label>
                <div style="margin-left:120px;"class="col-sm-6 col-md-6 col-lg-6">
                    <select 
                        class="form-control input-size-box"
                        ng-model="user.bankAccount"
                        ng-options="data as data.name[lang] for data in bank track by data._id" required>
                        <option value="" disabled translate="MTR.TYPESELECT"></option>
                    </select>
                </div>
            </div>
            <div class="form-group form-g-setting">
                <label translate="MTR.NO-BANK"></label>
                <input type="text" ng-model="user.billingName" ng-pattern="/^[0-9]{10,10}$/" name="address" class="form-control" placeholder="เลขบัญชีธนาคาร" required ng-minlength="13"/>
            </div>
            <div class="form-group form-g-setting" style="text-align:center">
                <button style="width:250px;"class="btn btn-action" type="submit" ng-disabled="myForm.$invalid" translate="SETTING.BTN-SAVE"></button>
            </div>
            <div class="form-group form-g-setting">
                <h1 class="head-section-margin" translate="SETTING.FILE-ATTCH"></h1> 
                <div class="row">          
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <span class="btn btn-media">
                            <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)" multiple>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 crop" ng-repeat="file in filesArray track by $index | limitTo: 5">
                        <img class="img-pre" width="100%" ng-src="{{file}}" alt="">
                        <a class="rm-pic-expt-cre" ng-click="removeFile($index)"><img src="assets/img/delete.png"></a>
                    </div>
                </div>         
            </div>
        </form>
    </div>
</div>
<div class="section-box col-sm-6 col-md-6 col-lg-6">
    <div class="section-shadow">
        <h1 class="head-section-margin" translate="SETTING.CHANG-PASS"></h1>
        <form ng-submit="submitChangePass()" name="changePassForm" autocomplete="off">
            <div class="form-group form-g-setting">
                <label translate="SETTING.OLD-PASS"></label>
                <input type="password" id="passOld" ng-model="passOld" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" name="password" class="form-control" placeholder="รหัสผ่าน" required ng-minlength="10"/>
            </div>
            <div class="form-group form-g-setting">
                <label translate="SETTING.NEW-PASS"></label>
                <input style="margin-bottom:10px;"type="password" id="newpass" onkeyup="angular.element(this).scope().checkMatchPass()" ng-model="passwordNew" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" name="password" class="form-control" placeholder="รหัสผ่าน" required ng-minlength="10"/>
                <input type="password" id="conpass" onkeyup="angular.element(this).scope().checkMatchPass()" ng-model="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" name="password" class="form-control" placeholder="รหัสผ่าน" required ng-minlength="10"/>
                <label></label><span class="msg-form-err" id='conmessage' style="margin-left: 130px;"></span>
                <label></label><span ng-hide="msgsucc" class="msg-form-success">{{succmsg}}</span>
                <label></label><span ng-hide="msgerr" class="msg-form-err">{{errmsg}}</span>
            </div>
            <div class="form-group form-g-setting" style="text-align:center">
                <button style="width:250px;"class="btn btn-action" type="submit" ng-disabled="myForm.$invalid" translate="SETTING.BTN-SAVE-PASS"></button>
            </div>
        </form>
    </div>
</div>
</section>
<aside data-ng-include="'/modules/footers/views/footer.html'"></aside> 