<div ng-if="loaded===true">
        <aside ng-show="!isLoggedIn" data-ng-include="'/modules/topbars/views/topbar3.html'"></aside> 
        <aside ng-show="isLoggedIn" data-ng-include="'/modules/topbars/views/topbar5.html'"></aside>
        </div>  
        <section class="margin-for-topbar-2">
            <div class="section-box container"> 
                <div class="col-lg-12">
                        <h1>นโยบายความเป็นส่วนตัว</h1>
                        <p style="text-align:left;">        
                                เราถือปฎิบัติอย่างเคร่งครัดว่าเรื่องความเป็นส่วนตัวของท่านผู้ใช้งานเว็บไซต์ Senseino เป็นเรื่องสำคัญ และเราจะจัดเก็บ บันทึก ยึดถือ เก็บรักษา เปิดเผย โอน หรือใช้ข้อมูลส่วนตัวของท่านตามที่กำหนดไว้ด้านล่างนี้
                        </p>
                        <p style="text-align:left;">        
                                การปกป้องรักษาข้อมูลเป็นเรื่องเกี่ยวกับความน่าเชื่อถือและความไว้วางใจ ความเป็นส่วนตัวของท่านถือเป็นเรื่องสำคัญของเรา เราจึงจะใช้ชื่อหรือข้อมูลอื่นๆ ที่เกี่ยวข้องกับท่าน เพียงเฉพาะสำหรับกิจการที่ได้กำหนดไว้ในนโยบายความเป็นส่วนตัวนี้เท่านั้น
                        </p>  
                        <p style="text-align:left;">        
                                เราจะจัดเก็บข้อมูลเพียงเท่าที่จำเป็นสำหรับการดำเนินการดังกล่าว และเราจะจัดเก็บเพียงข้อมูลที่เกี่ยวข้องกับการติดต่อทางธุรกิจระหว่างท่านกับเราเท่านั้น
                        </p>  
                        <p style="text-align:left;">        
                                เราจะเก็บรักษาข้อมูลของท่านในระยะเวลาเพียงเท่าที่กฎหมายอนุญาตให้กระทำหรือในระยะเวลาเท่าที่จำเป็นสำหรับวัตถุประสงค์ของการจัดเก็บข้อมูลนั้นๆ
                        </p> 
                        <p style="text-align:left;">        
                                หากท่านมีความคิดเห็น คำแนะนำหรือคำติชม ท่านสามารถติดต่อเราได้ทางอีเมลที่ระบุข้างล่าง
                        </p> 
                        <br>
                        <h1>การจัดเก็บข้อมูลส่วนตัว</h1>  
                        <h4>การจัดเก็บข้อมูลส่วนตัวจาก Facebook</h4>     
                        <p style="text-align:left;">        
                                หากท่านสมัครเพื่อใช้งาน Senseino โดยผ่านทางบัญชี Facebook เราอาจเข้าถึงข้อมูลเกี่ยวกับท่านที่ท่านได้ให้ไว้โดยสมัครใจกับบัญชี Facebook ภายใต้นโยบายต่างๆของผู้ให้บริการ เราจะจัดการข้อมูลส่วนตัวของท่านที่ได้รับมาดังกล่าวตามนโยบายความเป็นส่วนตัวของ Senseino
                        </p>
                        <br>
                        <h4>การจัดเก็บข้อมูลส่วนตัวจาก LINE</h4>  
                        <p style="text-align:left;">        
                                หากท่านสมัครเพื่อใช้งาน Senseino โดยผ่านทางบัญชี LINE เราอาจเข้าถึงข้อมูลเกี่ยวกับท่านที่ท่านได้ให้ไว้โดยสมัครใจกับบัญชี LINE ภายใต้นโยบายต่างๆของผู้ให้บริการ เราจะจัดการข้อมูลส่วนตัวของท่านที่ได้รับมาดังกล่าวตามนโยบายความเป็นส่วนตัวของ Senseino
                        </p>
                        <br>
                        <h4>การเก็บที่อยู่อีเมล</h4>  
                        <p style="text-align:left;">        
                                เราจะเก็บที่อยู่อีเมลที่ท่านกรอกไว้ในกล่องรับที่อยู่อีเมลเพื่อทำการแจ้งเตือนต่างๆ รับจดหมายข่าวและข่าวสารทางอีเมล
                        </p>
                        <br> 
                        <h4>การเก็บข้อมูลเกี่ยวข้องกับการชำระเงิน และถอนเงิน</h4>  
                        <p style="text-align:left;">        
                                เราจะไม่ทำการเก็บข้อมูลบัตรเครดิตที่ท่านได้กรอกเข้ามาบนเว็บไซต์ Senseino แต่อย่างใด ข้อมูลบัตรเครดิตที่ท่านกรอกในขั้นตอนการชำระเงินบนเว็บไซต์ Senseino จะถูกใช้เพื่อชำระเงินผ่านระบบชำระเงิน Online Payment และเมื่อทำการชะรำเงินเสร็จสิ้น ระบบจะไม่ทำการเก็บข้อมูลดังกล่าวในระบบของ Senseino เราจะทำการเก็บข้อมูลเลขที่บัญชี ธนาคาร และสาขา ที่ท่านกรอกเข้ามาเมื่อทำการถอนเงินเพื่อทำการโอนเงินที่ท่านได้แจ้งเข้ามาสู่เว็บไซต์ Senseino
                        </p>
                        <br> 
                        <h1>การใช้และการเปิดเผยข้อมูลส่วนตัว</h1> 
                        <p style="text-align:left;">        
                                เราจะใช้ข้อมูลส่วนที่เราได้รับจากท่านหรือส่งต่อแก่บุคคลภายนอก (รวมถึงบริษัทที่เกี่ยวข้อง ผู้ให้บริการภายนอก) เพื่อประโยชน์ของกิจการทั้งหมดหรือแต่บางส่วนดังจะได้กล่าวต่อไปนี้
                        </p>       
                        <p style="text-align:left;">         
                                เพื่อการใช้งานแพลตฟอร์มของ Senseino
                                
                                เพื่อระบุตัวตนผู้เข้าใช้
                                
                                เพื่อการวิเคราะห์สถิติและพฤติกรรมของผู้ใช้
                                
                                เพื่อจัดส่งข้อมูลที่เราคาดว่าท่านว่ามีประโยชน์สำหรับท่านหรือที่ท่านได้ร้องขอจากเราให้แก่ท่าน
                                
                                เมื่อท่านได้สมัครเพื่อเปิดบัญชีการใช้บริการกับ Senseino หรือได้ส่งมอบข้อมูลส่วนตัวของท่านผ่านทางแพลตฟอร์ม เราใช้ข้อมูลส่วนตัวของท่านเพื่อส่งข่าวสารทางการตลาดและโปรโมชั่นต่างๆเกี่ยวกับสินค้าหรือบริการของเราหรือของผู้ให้บริการที่เป็นบุคคลภายนอกเป็นครั้งคราว ท่านสามารถยกเลิกการรับข้อมูลการตลาดได้ตลอดเวลา โดยการใช้ระบบการยกเลิกการรับข้อมูลที่อยู่ในข้อมูลทางการตลาดที่จัดส่งให้ เราอาจใช้ข้อมูลการติดต่อของท่านเพื่อส่งเอกสารข่าวสารจากเราหรือจากบริษัทที่เกี่ยวข้องของเรา และ
                        </p>
                        <p style="text-align:left;">        
                                ในกรณีที่เป็นข้อยกเว้นและ Senseino ถูกขอให้เปิดเผยข้อมูลส่วนตัว เช่นในกรณีที่มีมูลให้เชื่อว่าการเปิดเผยดังกล่าวอาจป้องกันการข่มขู่ต่อชีวิตหรือร่างกาย สำหรับวัตถุประสงค์ในการบังคับใช้กฎหมาย หรือการปฏิบัติตามกฎหมาย ระเบียบ ข้อบังคับหรือการร้องขออื่นใด
                        </p>
                        <p style="text-align:left;">        
                                Senseino อาจส่งมอบข้อมูลส่วนตัวของท่านให้แก่บุคคลภายนอกหรือบริษัทในเครือสำหรับวัตถุประสงค์ดังกล่าวมาข้างต้น โดยเฉพาะอย่างยิ่งเพื่อดำเนินธุรกรรมต่างๆกับท่านให้สำเร็จ จัดการบัญชีการใช้บริการของท่าน จัดการความสัมพันธ์อื่นๆกับท่าน การตลาด การปฏิบัติตามกฎหมาย ระเบียบข้อบังคับ การร้องขออื่นๆ ที่ Senseino เห็นว่าจำเป็น ในการแบ่งปันข้อมูลให้แก่บุคคลดังกล่าว Senseino จะพยายามอย่างถึงที่สุดเพื่อรับรองว่าบุคคลภายนอกและบริษัทในเครือของเราจะรักษาและปกป้องข้อมูลส่วนตัวของท่านจากการเข้าถึง การจัดเก็บ การใช้ การเปิดเผย โดยไม่ได้รับอนุญาต หรือความเสี่ยงอื่นๆในลักษณะเดียวกัน และจะต้องเก็บข้อมูลส่วนตัวของท่านในระยะเวลาเท่าที่จำเป็นสำหรับกิจการที่ได้กล่าวไว้ด้านบนนี้เท่านั้น
                        </p>
                        <p style="text-align:left;">        
                                Senseino ไม่เคยและไม่ได้ทำธุรกิจในการค้าข้อมูลส่วนตัวของลูกค้าแก่บุคคลภายนอก
                        </p>
                        <br>
                        <h1>การเพิกถอนความยินยอม</h1> 
                        <p style="text-align:left;">        
                                ท่านอาจส่งคำคัดค้านการใช้หรือการเปิดเผยข้อมูลส่วนตัวของท่านสำหรับกิจการต่างๆหรือเพื่อวัตถุประสงค์ที่ระบุไว้ด้านบน แก่เราได้ตลอดเวลา โดยติดต่อเราผ่านทางอีเมลที่ระบุข้างล่าง โปรดทราบว่าหากท่านได้ส่งคำคัดค้านการใช้หรือการเปิดเผยข้อมูลส่วนตัวของท่านสำหรับกิจการต่างๆ หรือเพื่อวัตถุประสงค์ที่ระบุไว้ด้านบน ขึ้นอยู่กับพฤติการณ์ของคำคัดค้าน เราอาจไม่อยู่ในสถานะที่จะบริการให้แก่ท่านหรือปฏิบัติตามสัญญาต่อท่านได้ เราขอสงวนสิทธิทางกฎหมายและการเยียวยาไว้โดยชัดแจ้งในกรณีซึ่งเราไม่สามารถบริการให้แก่ท่านหรือตามปฏิบัติตามสัญญาต่อท่านได้อันเกิดจากคำคัดค้านดังกล่าว
                        </p>
                        <br>
                        <h1>ความปลอดภัยของข้อมูลส่วนตัวของท่าน</h1> 
                        <p style="text-align:left;">        
                                Senseino รับรองว่าข้อมูลที่จัดเก็บทั้งหมดจะถูกจัดเก็บอย่างปลอดภัย เราป้องกันข้อมูลส่วนตัวของท่านโดยจำกัดการเข้าถึงข้อมูลส่วนตัวจัดให้มีวิธีการทางเทคโนโลยีเพื่อป้องกันไม่ให้มีการเข้าสู่ระบบคอมพิวเตอร์ที่ไม่ได้รับอนุญาตจัดการทำลายข้อมูลส่วนตัวของท่านเพื่อความปลอดภัยเมื่อข้อมูลดังกล่าวไม่จำเป็นสำหรับวัตถุประสงค์ทางกฎหมายและธุรกิจอีกต่อไปหากท่านมีเหตุให้เชื่อว่าความเป็นส่วนตัวของท่านได้ถูกละเมิดโดย Senseino กรุณาติดต่อเราผ่านทางอีเมลที่ระบุข้างล่าง
                        </p>
                        <br>
                        <h1>ไม่มีข้อมูลขยะสแปม สปายแวร์ ไวรัส</h1> 
                        <p style="text-align:left;">        
                                ข้อมูลขยะ (Spam) สปายแวร์ (Spyware) หรือ ไวรัส (Virus) นั้นไม่ได้รับอนุญาตบนแพลตฟอร์ม กรุณาตั้งค่าและคงสภาพความต้องการ (Preference) ในการติดต่อสื่อสารเพื่อที่เราจะได้ส่งข้อมูลการติดต่อสื่อสารตามที่ท่านต้องการ ท่านจะไม่ส่งข้อความใดๆที่มี ข้อมูลขยะ สปายแวร์ หรือไวรัส ผ่านทางแพลตฟอร์ม หากท่านต้องการรายงานข้อความที่น่าสงสัยให้เราทราบ กรุณาติดต่อผ่านทางอีเมลที่ระบุข้างล่าง
                        </p>
                        <br>
                        <h1>การเปลี่ยนแปลงนโยบายความเป็นส่วนตัว</h1> 
                        <p style="text-align:left;">        
                                Senseino จะตรวจสอบประสิทธิภาพของนโยบายความเป็นส่วนตัวเป็นประจำ เราขอสงวนสิทธิในการเปลี่ยนแปลงนโยบายความเป็นส่วนได้ตลอดเวลา การเปลี่ยนแปลงนโยบายดังกล่าวจะถูกประกาศหรือตีพิมพ์ไว้ในแพลตฟอร์ม
                        </p>
                        <br>
                        <h1>สิทธิของ Senseino</h1> 
                        <p style="text-align:left;">        
                                ท่านรับทราบและตกลงว่า Senseino มีสิทธิในการเปิดเผยข้อมูลส่วนตัวแก่ หน่วยงานผู้มีอำนาจทางกฎหมาย หน่วยงานการกำกับควบคุมดูแล หน่วยงานของรัฐ หน่วยงานเกี่ยวกับภาษี หน่วยงานในการบังคับใช้กฎหมาย และหน่วยงานอื่นๆที่เกี่ยวข้อง หรือเจ้าของสิทธิต่างๆที่เกี่ยวข้อง หาก Senseino มีเหตุอันควรเชื่อได้ว่าการเปิดเผยข้อมูลส่วนตัวของท่านนั้นจำเป็นสำหรับการปฏิบัติตามหน้าที่ ความรับผิดขอบ การจัดการและข้อตกลง ไม่ว่าโดยสมัครใจหรือการบังคับ เพื่อวัตถุประสงค์ในการให้ความร่วมมือกับคำสั่ง การสอบสวน และ/หรือการร้องขอในรูปแบบต่างๆของหน่วยงานนั้นๆ ภายใต้การบังคับของกฎหมายที่เกี่ยวข้อง ท่านตกลงว่าจะไม่ฟ้องร้องดำเนินคดีหรือดำเนินการใดๆต่อ Senseino และสละสิทธิเรียกร้องหรือสิทธิอื่นใดอันมีต่อ Senseino ที่อาจเกิดขึ้นจากการเปิดเผยข้อมูลส่วนตัวของท่านภายใต้สถานการณ์ดังกล่าวข้างต้น
                        </p>
                        <br>
                        <h1>การติดต่อ Senseino</h1> 
                        <p style="text-align:left;">        
                                หากท่านต้องการเพิกถอนความยินยอมในการใช้ข้อมูลส่วนตัวของท่าน ขอเรียกดูข้อมูลและ/หรือข้อมูลส่วนตัว มีคำถาม ความคิดเห็น ข้อกังวล หรือขอความช่วยเหลือทางด้านเทคนิค หรือเกี่ยวกับโปรแกรมคุกกี้ (cookies) กรุณาติดต่อเราได้ที่นี่
                        </p>
                        <p style="text-align:left;">        
                                Senseino Co.,Ltd.
                        </p>
                        <p style="text-align:left;">        
                                1 Empire Tower47thFl., Unit4703,SouthSathorn Road, 
                        </p>
                        <p style="text-align:left;">        
                                Yannawa, Sathorn, 
                        </p>
                        <p style="text-align:left;">        
                                Bangkok,10120, Thailand 
                        </p>
                        <p style="text-align:left;">        
                                092-446-0222
                        </p>
                        <p style="text-align:left;">        
                                Email : seksin@senseino.com
                        </p> 
                </div>
            </div>
        </section>
        <aside data-ng-include="'/modules/footers/views/footer.html'"></aside> 