<div ng-if="loaded===true">
<aside ng-show="!isLoggedIn" data-ng-include="'/modules/topbars/views/topbar3.html'"></aside> 
<aside ng-show="isLoggedIn" data-ng-include="'/modules/topbars/views/topbar5.html'"></aside>
</div>  
<section class="margin-for-topbar-2">
    <div class="section-box container"> 
        <div class="col-lg-12">
                <h1>เงื่อนไขการใช้งานของเซนเซโนะ</h1>
                <h4>เงื่อนไขการใช้บริการของ Platform  Senseino</h4>     
                <p style="text-align:left;">        
                    ข้อตกลงต่อไปนี้ (“ข้อตกลงการใช้งาน”) จะเป็นข้อตกลงการใช้งานของคุณกับ Senseino , Senseino IOS Application, Senseino Android Application ซึ่งรวมถึงเนื้อหา การใช้เงิน และการให้บริการทั้งหมดบน Senseino (“Platform”) ที่คุณต้องปฏิบัติตาม
                </p>    
                <p style="text-align:left;">        
                   การใช้ Platform สร้างบัญชีผู้ใช้งาน หรือกดยอมรับข้อตกลงการใช้งานของเรา จะถือว่าคุณยอมรับที่จะปฏิบัติตาม และอยู่ภายใต้ข้อตกลง รวมถึงยอมรับนโยบายการเป็นส่วนตัวที่เรากำหนด คุณจะไม่สามารถใช้บริการP latform ของเราได้ หากคุณไม่เห็นด้วยกับข้อตกลง หรือนโยบายความเป็นส่วนตัวดังกล่าว
                </p>        
                <p style="text-align:left;">         
                    Platform นี้เปิดให้บริการสำหรับผู้ใช้ที่มีอายุเกิน 18 ปีบริบูรณ์แล้วเท่านั้น คุณจะไม่สามารถใช้บริการ Platformข องเราได้ หากคุณมีอายุต่ำกว่า 18 ปี การใช้บริการ Platform ของเรา เป็นการแสดงถึงว่าคุณได้ยืนยันว่าตนเองมีอายุผ่านเกณฑ์ และมีคุณสมบัติครบที่จะทำการยอมรับตกลง และสัญญาระหว่างคุณกับตัวบริษัท Senseino มีสิทธิ์ที่จะระงับการใช้งานบัญชีใช้งานของคุณ หากคุณมีคุณสมบัติดังกล่าวไม่ครบถ้วน
                </p>      
                <p style="text-align:left;">         
                    คุณสามารถติดต่อเราผ่าน Customer Support ได้ หากคุณมีคำถามเกี่ยวกับข้อตกลงการใช้งานของเรา
                </p>
                <br>        
                <h4>        
                    ศัพท์สำคัญ
                </h4>        
                <p style="text-align:left;">          
                    <b>งาน</b> คือ สิ่งของและบริการต่างๆที่สั่งทำ หรือว่าจ้างผ่าน Senseino
                </p>        
                <p style="text-align:left;">
                    <b>Experts</b> คือ ผู้ใช้งานที่ประกาศและส่งมอบงานบน Senseino ที่ตกลงยอมรับตามข้อกำหนดของ Senseino          
                </p>
                <p style="text-align:left;">
                        <b>ผู้ว่าจ้าง</b> คือ ผู้ว่าจ้างงานบน Senseino ที่ตกลงยอมรับตามข้อกำหนดของ Senseino          
                </p>
                <p style="text-align:left;">
                        <b>ผู้ใช้ คือ</b> บุคคลที่เข้ามาสู่เว็บไซท์ของ Senseino และใช้บริการของ Senseino ซึ่งรวมถึง Experts และผู้ว่าจ้างด้วย          
                </p>
                <p style="text-align:left;"> 
                        <b>หน้ารายละเอียดงาน</b> คือ หน้าที่ Experts สามารถอธิบายถึงรายละเอียดงานที่ตนเองจะส่งมอบ ซึ่งผู้ว่าจ้างสามารถอ่านและตัดสินใจว่าจ้างจากExperts ดังกล่าวได้         
                </p>
                <p style="text-align:left;">
                        <b>ออเดอร์</b> คือ สัญญาระหว่างผู้ว่าจ้างและ Experts หลังจากผู้ว่าจ้างตัดสินใจชำระเงินจ้าง Experts จากหน้ารายละเอียดงาน          
                </p>        
                <p style="text-align:left;">
                        <b>หน้างาน</b> คือ หน้าที่เป็นช่องทางการสื่อสารระหว่างผู้ว่าจ้างและ Experts สำหรับงานที่ผู้ว่าจ้างจ้าง Experts ไป          
                </p> 
                <p style="text-align:left;">
                        <b>รายได้</b> คือ จำนวนเงินที่ Experts ได้รับหลังจากส่งมอบงานให้แก่ผู้ว่าจ้างเรียบร้อย          
                </p>
                <br> 
                <h4>ข้อตกลงทั่วไป</h4>
                <p style="text-align:left;">
                        - ผู้ใช้งานที่สมัครสมาชิกแล้วเท่านั้น ที่สามารถซื้อขายผ่าน Senseino ได้          
                </p> 
                <p style="text-align:left;">
                        - ไม่มีค่าใช้จ่ายในการสมัครสมาชิกกับ Senseino         
                </p> 
                <p style="text-align:left;">
                        - ผู้ว่าจ้างต้องชำระเงินแก่ Senseino ก่อนเพื่อที่จะสร้างออเดอร์ขึ้นมา        
                </p>         
                <p style="text-align:left;">
                        - ผู้ว่าจ้างสามารถชำระเงินเพื่อสร้างออเดอร์ได้โดยการกดปุ่ม เลือกชำระเงิน ในหน้ารายละเอียดแชทงาน        
                </p> 
                <p style="text-align:left;">
                        - Experts และผู้ว่าจ้างสามารถดูรายละเอียดสำหรับช่องทางการชำระเงิน และค่าใช้จ่ายต่างๆ ได้       
                </p> 
                <p style="text-align:left;">
                        - Experts ต้องส่งมอบงานให้สมบูรณ์ตามออเดอร์ที่ได้รับมอบหมาย Experts ไม่สามารถยกเลิกออเดอร์ได้ ยกเว้นในกรณีจำเป็นเท่านั้น ซึ่งการยกเลิกออเดอร์โดย Experts จะส่งผลต่อสถานะและผลรีวิวของ Experts ด้วย      
                </p> 
                <p style="text-align:left;">
                        - ผู้ใช้ไม่สามารถชำระเงิน หรือรับเงินออเดอร์ผ่านวิธีอื่นนอกเหนือจากการสั่งซื้อผ่าน Senseino เท่านั้น        
                </p> 
                <p style="text-align:left;">
                        - ผู้ว่าจ้างมีสิทธิ์เป็นเจ้าของงานที่ Experts ส่งมอบทั้งหมด ยกเว้นกรณี Experts ได้ระบุรายละเอียดของสิทธิ์การเป็นเจ้าของผลงานบนหน้ารายละเอียดงาน        
                </p> 
                <p style="text-align:left;">
                        - Senseino มีสิทธิ์ที่จะนำผลงานต่างๆที่ส่งมอบบน Senseino ไปใช้สำหรับการโฆษณาต่างๆ รวมไปถึงการตลาดต่างๆ ของ Senseino        
                </p> 
                <p style="text-align:left;">
                        - เราให้ความสำคัญแก่ความปลอดภัยของข้อมูลของคุณ คุณสามารถอ่านนโยบายความเป็นส่วนตัวได้ ซึ่งนโยบายความเป็นส่วนตัวนี้ถือเป็นส่วนหนึ่งของข้อตกลงการใช้งานด้วยา        
                </p>
                <br>
                <h1>Experts</h1> 
                <h4>ข้อตกลงทั่วไป</h4> 
                <p style="text-align:left;">
                        - ทุกออเดอร์ที่คุณส่งมอบโดยสมบูรณ์ คุณจะได้รับรายได้รวมทั้งหมด 85% ของจำนวนเงินซื้อขาย โดยรายได้ส่วนนี้จะถูกส่งเข้าไปในบัญชีผู้ใช้งานของคุณ       
                </p> 
                <p style="text-align:left;">
                        - Senseino จะส่งมอบรายได้ให้คุณเมื่อออเดอร์อยู่ในสถานะเสร็จสิ้นแล้วเท่านั้น คุณสามารถดูนิยามของคำว่าออเดอร์อยู่ในสถานะเสร็จสิ้นได้ที่หมวด ออเดอร์        
                </p> 
                <p style="text-align:left;">
                        - หากออเดอร์ถูกยกเลิก จำนวนเงินสำหรับออเดอร์นี้จะถูกส่งมอบกลับคืนสู่ผู้ว่าจ้างและ Experts ตามจำนวนที่ตกลงเอาไว้บน Senseino       
                </p>                     
                <p style="text-align:left;">
                        - รายได้ของ Experts จะได้รับการโอนอัตโนมัติตามที่กำหนดไว้       
                </p>                     
                <p style="text-align:left;">
                        - รีวิวของ Experts จะถูกคำนวณขึ้นมาจากคะแนนประเมินผลงานที่ผู้ว่าจ้างได้ประเมินกับ Experts หลังจาก Experts ได้ส่งมอบงานตามออเดอร์ รีวิวที่ดีจะนำไปสู่ผลประโยชน์ต่างๆของ Experts ในอนาคต      
                </p>
                <br>            
                <h4>งาน</h4> 
                <p style="text-align:left;">
                        - Experts สามารถประกาศประวัติรายละเอียดงานของตนเองบน Senseino ได้โดยไม่เสียค่าบริการใดๆ              
                </p> 
                <p style="text-align:left;">
                        - ผู้ว่าจ้างและ Experts สามารถโพสงานของตนเองบน Senseino ได้โดยไม่เสียค่าบริการใด ๆ       
                </p> 
                <p style="text-align:left;">
                        - งานต่างๆที่แสดงอยู่บน Senseino ถือว่าเป็นเนื้อหาที่ถูกสร้างขึ้นโดยผู้ใช้                     
                </p>                     
                <p style="text-align:left;">
                        - งานและประวัติที่ ประกาศสามารถถูกลบโดย Senseino ได้ หากงานดังกล่าวไม่ได้ปฏิบัติตามข้อตกลง เช่นงานบริการที่ผิดกฎหมาย และละเมิดสิทธิของบุคคลอื่นๆการละเมิดลิขสิทธิ์ หรือทรัพย์สินทางปัญญาของบุคคลอื่นงานบริการที่เข้าข่ายสื่อลามก หรือที่ Senseino เห็นว่าไม่เหมาะสมงานบริการที่ตั้งใจลอกเลียนแบบงานบริการอื่นๆงานบริการที่เป็นสแปม หรือที่ Senseino เห็นว่าไม่เหมาะสมงานบริการที่หลอกลวงผู้ว่าจ้าง หรือละเมิดข้อตกลงต่างๆของบุคคลที่สามขายงานที่ไม่ใช่ของตนเองงานอื่นๆ ที่ Senseino เห็นว่าไม่เหมาะสม                   
                </p>                     
                <p style="text-align:left;">
                        - บัญชีของ Experts อาจมีสิทธิ์ถูกระงับการใช้งาน หากงานบริการของ Experts ถูกลบทิ้งด้วยเหตุผลตามข้อข้างต้น       
                </p>           
                <p style="text-align:left;">
                        - งานที่ถูกลบออกไปด้วยเหตุผลตามข้อข้างต้น จะไม่สามารถนำกลับมาแก้ไข หรือนำกลับมาใช้ในระบบได้         
                </p> 
                <p style="text-align:left;">
                        งานหรือ ประวัติ Experts ที่ได้รับรีวิวที่ไม่ดีอาจไม่ถูกนำมาแสดงในระบบของ Senseino ได้
                </p> 
                <p style="text-align:left;">
                        - บัญชีของ Experts อาจมีสิทธิ์ถูกระงับการใช้งาน หากงานบริการของ Experts ถูกลบทิ้งด้วยเหตุผลตามข้อข้างต้น       
                </p> 
                <p style="text-align:left;">
                        - URLs ที่ถูกระบุเอาไว้บนหน้ารายละเอียดงานที่พาผู้ใช้ไปสู่เว็บไซต์อื่นนอกเหนือจาก Senseino อาจะถือว่าเป็นการใช้งานระบบ Senseino อย่างไม่เหมาะสม และต้องผ่านการอนุมัติจาก Senseino ก่อนเท่านั้น           
                </p> 
                <p style="text-align:left;">
                        - ประวัติงานทุกประวัติจำเป็นต้องมีรูปภาพประกอบ โดย Senseino จะมีช่องทางให้ Experts สามารถอัพโหลดรูปประกอบประวัติได้                      
                </p> 
                <p style="text-align:left;">
                        - ประวัติ Experts สามารถมีวิดีโอที่ผ่านการอนุมัติแล้วสำหรับการเป็นวีดีโอประกอบได้                     
                </p>
                <p style="text-align:left;">
                        - Experts ไม่สามารถเพิ่มเติมรายละเอียดงานที่ส่งผลกระทบแก่การเปลี่ยนแปลงข้อตกลงของ Senseino ได้                      
                </p>
                <br> 
                <h4>การถอนรายได้</h4> 
                <p style="text-align:left;">
                        - ผู้ใช้ต้องกรอกข้อมูลบัญชีที่ถูกต้องเพื่อที่จะทำการถอนรายได้ได้              
                </p> 
                <p style="text-align:left;">
                        - ผู้ใช้สามารถถอนรายได้ได้สูงสุดเป็นจำนวนเงินที่มีอยู่ในบัญชีผู้ใช้เท่านั้น ระบบจะทำการโอนเงินคงเหลือของท่านทั้งหมดโดยอัตโนมัติ ทุกวันอังคารของสัปดาห์โดยไม่มีค่าธรรมเนียมการโอนเงิน        
                </p> 
                <p style="text-align:left;">
                        - ผู้ใช้ไม่สามารถยกเลิกการถอนรายได้ได้ และไม่สามารถขอถอนเงินรายได้ก่อนวันที่กำหนดได้                                     
                </p>                     
                <p style="text-align:left;">
                        - ไม่มีค่าใช้จ่ายใดใดในการถอนรายได้
                </p>
                <br>
                <h1>ผู้ว่าจ้าง</h1> 
                <h4>ข้อตกลงทั่วไป</h4>                    
                <p style="text-align:left;">
                        - ผู้ว่าจ้าง สามารถโพสงานของตนเองบน Senseino ได้โดยไม่เสียค่าบริการใด ๆ       
                </p>           
                <p style="text-align:left;">
                        - ผู้ว่าจ้างไม่สามารถชำระเงินให้ Experts ผ่านช่องทางอื่นนอกจากช่องทางที่ Senseino ได้กำหนดให้บน Platform Senseino                      
                </p> 
                <p style="text-align:left;">
                        - Senseino ขอสงวนสิทธิ์ในการใช้งานที่ Experts ส่งมอบให้ผู้ว่าจ้างสำหรับการทำสื่อโฆษณาหรือการตลาดต่างๆของ Senseino                
                </p> 
                <p style="text-align:left;">
                        - ผู้ว่าจ้างตกลงยินยอมปฎิบัติตามเงื่อนไงการจ้างงานของ Senseino และไม่จ้างงานที่ผิดกฎหมายและศีลธรรม                     
                </p> 
                <p style="text-align:left;">
                        - ผู้ว่าจ้างสามารถเข้าถึงประวัติของ Experts และแชตเพื่อเสนองานผ่านระบบของ Senseino ได้โดยไม่เสียค่าบริการใด ๆ         
                </p>
                <br> 
                <h4>การซื้อ</h4> 
                <p style="text-align:left;">
                        - ผู้ว่าจ้างชำระเงินให้แก่ Senseino สำหรับสร้างออเดอร์ของงาน โดยการกดปุ่มสั่งซื้อบนหน้ารายละเอียดงานที่ผู้ว่าจ้างต้องการ                                     
                </p> 
                <p style="text-align:left;">
                        - ผู้ว่าจ้างสามารถชำระเงินผ่านบัตรเครดิต หรือการโอนเงิน                
                </p>
                <p style="text-align:left;">
                        - ทุกออเดอร์จะมีค่าดำเนินการ และบริหารระบบต่างๆ ในจำนวน 15% ของมูลค่าของงานสูงสุดไม่เกินออเดอร์ละ 5,000 บาท                      
                </p>         
                <p style="text-align:left;">
                        - ผู้ว่าจ้างไม่สามารถชำระเงินสำหรับงานบน Senseino ผ่านช่องทางอื่นนอกเหนือจากช่องทางที่ Senseino กำหนดให้เท่านั้น กรุณาแจ้งมาที่เรา หากมี Experts ขอให้คุณชำระเงินผ่านช่องทางอื่นนอกเหนือจากช่องทางที่ Senseino กำหนดให้                                                    
                </p> 
                <p style="text-align:left;">
                        - Senseino จะไม่มีการเก็บข้อมูลบัตรเครดิตของผู้ใช้เพื่อป้องกันการโกง หรือการถูกขโมยข้อมูล แต่ Senseino อนุญาตให้บริษัทให้บริการการชำระเงินที่ Senseino ใช้เก็บข้อมูลบัตรเครดิตต่างๆเพื่อใช้ในการชำระเงินบน Senseino ซึ่งการใช้ข้อมูลดังกล่าวจะถูกผูกมัดภายใต้ข้อตกลงการใช้งาน และนโยบายความเป็นส่วนตัวของบริษัทให้บริการชำระเงิน                
                </p>
                <br>
                <h1>ออเดอร์</h1> 
                <h4>ข้อตกลงทั่วไป</h4> 
                <p style="text-align:left;">
                        - หลังจากระบบได้ทำการยืนยันการชำระเงินแล้ว ระบบจะทำการสร้างออเดอร์ให้คุณโดยจะมีหมายเลขออเดอร์กำกับ               
                </p>          
                <p style="text-align:left;">
                        - Experts ต้องส่งมอบงานหรือบริการโดยใช้ปุ่ม ส่งงานขั้นสุดท้าย (อยู่บนหน้างาน) ให้แก่ผู้ว่าจ้างที่ชำระเงินสำหรับงานดังกล่าวตามรายละเอียดงานที่ระบุเอาไว้บนหน้ารายละเอียดงาน           
                </p>       
                <p style="text-align:left;">
                        - การใช้ปุ่ม ส่งงานขั้นสุดท้าย ในทางที่ไม่สมควร เช่นใช้ส่งงานที่ยังไม่สมบูรณ์ หรือส่งงานที่ไม่เป็นไปตามข้อตกลง จะส่งผลให้ Experts ถูกฟ้องร้องงาน หรือคะแนนรีวิวของ Experts ลดลง หรือ Experts อาจถูกระงับบัญชี Senseino ได้                         
                </p>  
                <p style="text-align:left;">
                        - ออเดอร์จะถูกกำหนดเป็นสถานะเสร็จสิ้นหลังจากที่ออเดอร์อยู่ในสถานะรออนุมัติ และได้รับการประเมินจากผู้ว่าจ้าง แต่หากผู้ว่าจ้างไม่ทำการตอบรับหรือประเมินงานภายใน 72 ชั่วโมง ออเดอร์ดังกล่าวจะถูกเปลี่ยนสถานะเป็นเสร็จสิ้นโดยทันที                           
                </p>  
                <p style="text-align:left;">
                        - Senseino สนับสนุนให้ผู้ว่าจ้างและ Experts แก้ปัญหาข้อขัดแย้งระหว่างผู้ว่าจ้างและ Experts กันเองก่อน แต่หากปัญหาดังกล่าวไม่ได้รับการแก้ไข หรือเกิดข้อพิพาท ผู้ใช้สามารถติดต่อทีมงาน Senseino ได้                           
                </p>  
                <p style="text-align:left;">
                        - ออเดอร์ที่ไม่มีการเคลื่อนไหว (Active) เกิน 120 วัน จะถือว่าเป็นโมฆะ Senseino.co ขอสงวนสิทธิ์ในการยึดจำนวนเงินทั้งหมดเข้าระบบ โดยไม่ต้องแจ้งให้ทราบ          
                </p>
                <br>
                <h4>สถานะออเดอร์: Experts เริ่มทำงาน</h4> 
                <p style="text-align:left;">
                        - เมื่อผู้ว่าจ้างทำการชำระเงินสร้างออเดอร์ Experts จะได้รับการแจ้งจากระบบ Senseino ผ่านอีเมล และหน้าเว็บไซท์ Senseino เมื่อExperts ทำการเข้าสู่ระบบเข้ามา                           
                </p>          
                <p style="text-align:left;">
                        - หาก Experts ไม่สามารถส่งมอบงานได้ภายในเวลาที่ตนกำหนดเอาไว้ Experts มีสิทธิ์ที่จะถูกฟ้องร้องงานจากฝ่ายผู้ว่าจ้างได้ และอาจะส่งผลต่อคะแนนการประเมิน และรีวิวของ Experts                
                </p>       
                <p style="text-align:left;">
                        - Experts ต้องส่งมอบงาน หรือบริการที่สมบูรณ์ตามที่ตนเองกำหนดเอาไว้ในรายละเอียดงานผ่านการกดปุ่ม ส่งงาน เพื่อให้ออเดอร์เปลี่ยนสถานะเป็นส่งมอบงาน                
                </p>  
                <p style="text-align:left;">
                        - ผู้ใช้สามารถติดต่อทีมงาน Senseino ได้ หากผู้ใช้มีความต้องการที่จะเปลี่ยนแปลงสถานะออเดอร์นอกเหนือจากที่ระบบมีให้ใช้                
                </p>
                <br>
                <h4>รีวิว และคะแนนการประเมิน</h4>   
                <p style="text-align:left;">
                        - การให้รีวิว และคะแนนการประเมินแก่งานที่ผู้ว่าจ้างได้รับเป็นส่วนสำคัญสำหรับระบบรีวิวของ Senseino รีวิวและคะแนนการประเมินต่างๆจากผู้ว่าจ้างแสดงถึงความพึงพอใจในตัวงานที่ได้รับ และการให้บริการของ Experts Senseino อยากสนับสนุนให้ผู้ว่าจ้างสื่อสารกับExperts ถึงปัญหาในการได้รับงาน หรือบริการเพื่อให้ Experts ได้รับรู้และแก้ไขปรับปรุงตามที่ผู้ว่าจ้างต้องการได้                                       
                </p>  
                <p style="text-align:left;">
                        - ระบบของ Senseino ได้รับการออกแบบมาให้เกินการรีวิวทั้งสองฝั่งคือ ฝั่งผู้จ้างงานรีวิว Experts และ ฝั่ง Experts รีวิวผู้จ้างงาน
                </p> 
                <p style="text-align:left;">
                        - การรีวิวผู้จ้างงานโดย Experts มีวัตถุประสงค์เพื่อ ให้ Experts คนอื่น ๆ ได้เห็น เพื่อเตรียมตัวให้พร้อมสำหรับ การบริการผู้จ้างงานที่มีความต้องการ และ มาตรฐานแตกต่างกัน เพื่อช่วยให้การบริการมีความราบรื่นมากขึ้น และ เป็นช่องทางที่ให้ Experts มีความปลอดภัยในการรับและปฎิบัติงานมากขึ้น
                </p> 
                <p style="text-align:left;">
                        - เพื่อป้องกันการใช้งานระบบรีวิวและคะแนนการประเมินอย่างผิดจุดประสงค์ ผู้ว่าจ้างและ Experts สามารถให้รีวิว และคะแนนการประเมินกับงานที่ตนเองได้ชำระและสร้างออเดอร์ผ่านระบบ Senseino เท่านั้น การใช้งานระบบรีวิว และคะแนนการประเมินอย่างผิดจุดประสงค์ จะส่งผลให้บัญชีผู้ใช้ทั้งผู้ว่าจ้างและ Experts รวมถึงบัญชีอื่นๆที่เกี่ยวข้องถูกระงับการใช้งานจากระบบ Senseino
                </p> 
                <p style="text-align:left;">
                        - รีวิวจากผู้ว่าจ้างจะถูกแสดงอยู่ในหน้าประวัติงาน ผู้ว่าจ้างสามารถเลือกที่จะไม่เขียนรีวิวได้ แต่ไม่สามารถเลือกที่จะไม่ให้คะแนนการประเมินได้                 
                </p> 
                <p style="text-align:left;">
                        - รีวิวจาก Experts ต่อผู้จ้างงานจะถูกแสดงให้เฉพาะ Experts เห็นเพื่อเตรียมพร้อมสำหรับการให้บริการ
                </p> 
                <p style="text-align:left;">
                        - Expertsไม่สามารถปฏิเสธที่จะส่งมอบงานเพื่อใช้เป็นอำนาจในการต่อรองในการรับรีวิว หรือคะแนนการประเมินที่ดีจากผู้ว่าจ้างได้                
                </p>
                <br>           
                <h4>คำขอยกเลิกงาน และการยกเลิกออเดอร์</h4>   
                <p style="text-align:left;">
                        - Senseino สนับสนุนให้ผู้ว่าจ้างและ Experts แก้ปัญหาข้อขัดแย้งระหว่างผู้ว่าจ้างและ Experts กันเองก่อน แต่หากปัญหาดังกล่าวไม่ได้รับการแก้ไข หรือเกิดข้อพิพาท ผู้ใช้สามารถติดต่อทีมงาน Senseino ได้ตลอดเวลา โดย Senseino จะเป็นผู้ช่วยในการแก้ไขปัญหาดังกล่าว แต่จะไม่รับผิดชอบปัญหาใดๆที่เกิดขึ้นระหว่างผู้ว่าจ้างและ Experts                
                </p>  
                <p style="text-align:left;">
                        - การแจ้งระงับการชำระเงิน หรือแจ้งขอคืนเงินผ่านบริษัทให้บริการชำระเงิน หรือธนาคาร หรือบุคคลอื่นๆนอกเหนือจาก Senseino ถือเป็นการละเมิดข้อตกลงการใช้งานของ Senseino การกระทำดังกล่าวจะทำให้บัญชีของคุณถูกระงับการใช้งานชั่วคราว และถูกตรวจสอบโดยทันที (หมายเหตุ: Senseino จะไม่สามารถคืนเงินจำนวนดังกล่าวให้คุณได้อีกต่อไป หากคุณแจ้งระงับการชำระเงินผ่านบริษัทให้บริการชำระเงิน ธนาคาร หรือบุคคลอื่นๆนอกเหนือจาก Senseino)              
                </p> 
                <p style="text-align:left;">
                        - ทีมงานของ Senseino จะเป็นคนตรวจสอบความเหมาะสมสำหรับการยกเลิกออเดอร์ ซึ่งการตัดสินใจจะประกอบไปด้วยปัจจัยต่างๆ เช่น การละเมิดข้อตกลง การละเมิดสิทธิของผู้ใช้อื่นๆ การใช้งานระบบอย่างไม่เหมาะสม หรือการใช้ปุ่มส่งมอบงานอย่างผิดจุดประสงค์                
                </p> 
                <p style="text-align:left;">
                        - ออเดอร์ไม่สามารถถูกยกเลิกได้หากงานที่ Experts ได้ส่งมอบเป็นงานที่เสร็จสิ้นตามที่ Experts ได้บรรยายเอาไว้ในหน้ารายละเอียดงาน หากผู้ว่าจ้างไม่พอใจในคุณภาพของงาน ผู้ว่าจ้างสามารถรีวิว และให้คะแนนการประเมินงานที่ได้รับตามความเหมาะสมได้
                </p> 
                <p style="text-align:left;">
                        - Senseino ขอสงวนสิทธิ์ในการยกเลิกออเดอร์ และหรือ คงเงินที่เกี่ยวข้องสำหรับออเดอร์นี้ หาก Senseino สังเกตเห็นการฉ้อโกงในการใช้งานระบบผ่านออเดอร์ดังกล่าว                
                </p>
                <br>
                <h4>การคืนเงิน</h4> 
                <p style="text-align:left;">
                        จำนวนเงินที่เกี่ยวข้องกับออเดอร์ที่ถูกยกเลิกจะถูกคืนกลับสู่บัญชีธนาคารที่ผู้ว่าจ้างได้กำหนดเอาไว้ หรือเป็นเครดิตบนบัญชี Senseino                
                </p>
                <br>
                <h4>แนวทางการปฏิบัติของผู้ใช้</h4>  
                <p style="text-align:left;">
                    Senseino เป็นช่องทางที่เปิดให้ผู้ใช้สามารถสร้าง แบ่งปัน ขาย และซื้องานหรือบริการในรูปแบบของการชำระเงินในมูลค่าคงที่ที่ถูกกำหนดเอาไว้ของงานหรือบริการดังกล่าว งานและบริการต่างๆที่แสดงอยู่บน Senseino นั้นแสดงถึงความหลากหลาย และการขยายตัวของตลาดของการซื้อขายงานหรือบริการในวิธีดังกล่าว ผู้ใช้สามารถสื่อสาร และมีส่วนร่วมกับ Senseino ผ่านหน้างาน สื่อ Social media ต่างๆ หรือหน้าชุมชนของ Senseino ที่จะมีในอนาคต                     
                </p>        
                <p style="text-align:left;">
                        Senseino พยายามที่จะสร้างบรรยากาศที่เป็นชุมชน ที่มีความเป็นกันเองและความเป็นมืออาชีพในเวลาเดียวกัน Senseino สนับสนุนให้ผู้ใช้ทุกคนปฏิบัติตามบรรยากาศที่ดี โดยมีแนวทางดังต่อไปนี้
                </p>
                <br>        
                <h4>ทั่วไป</h4>         
                <p style="text-align:left;">
                        - เพื่อปกป้องความเป็นส่วนตัวของผู้ใช้ ข้อมูลผู้ใช้ที่ใช้สำหรับการระบุตัวบุคคลของผู้ใช้จะถูกเก็บเป็นความลับ
                </p>         
                <p style="text-align:left;">
                        - ผู้ใช้ไม่สามารถแสดงข้อมูลส่วนตัวของตน เช่น ที่อยู่อีเมล เบอร์โทรศัพท์ หรือชื่อบัญชีต่างๆ (LINE/Whatsapp/WeChat) หรือข้อมูลส่วนตัวอื่นๆ เพื่อใช้ในการสื่อสารเพื่อที่จะละเมิดหรือหลีกเลี่ยงการใช้งานระบบการสื่อสารของ Senseino       
                </p> 
                <p style="text-align:left;">
                        - การขอข้อมูลเพิ่มเติมเพื่อให้การดำเนินงานหรือบริการของ Experts สามารถทำได้ผ่านช่องทางการสื่อสารผ่านหน้างานที่ระบบมีให้
                </p> 
                <p style="text-align:left;">
                        - Senseino ไม่สามารถรับประกันถึงคุณภาพของงานแก่ผู้ว่าจ้าง แต่จะมีคะแนนการประเมินงานต่างๆของ Experts เพื่อช่วยเหลือผู้ว่าจ้างในการตัดสินใจว่าจ้าง Experts ที่ตนสนใจ   
                </p> 
                <p style="text-align:left;">
                        - Senseino จะไม่ปกป้องผู้ใช้ที่ใช้งานนอกระบบ หรือผู้ใช้ที่ละเมิดข้อตกลงการใช้งาน     
                </p> 
                <p style="text-align:left;">
                        - ผู้ใช้ต้องแลกเปลี่ยนข้อมูลทั้งหมดผ่านระบบของ Senseino เท่านั้น
                </p> 
                <p style="text-align:left;">
                        - โปรดใช้คำพูดที่เหมาะสม และไม่ละเมิดสิทธิของผู้อื่น มิฉะนั้น บัญชี Senseino ของคุณอาจถูกระงับการใช้งานได้      
                </p>
                <br> 
                <h4>การแจ้งการละเมิดการใช้งาน</h4>         
                <p style="text-align:left;">
                        - เมื่อระบบพบเห็นการกระทำที่ไม่เหมาะสม หรือได้รับการแจ้งเตือนมาจากผู้ใช้อื่นๆ Senseino จะทำการเตือนผู้ใช้นั้น โดยจะเป็นการเตือนผ่านอีเมล หรือการแสดงบนหน้าเว็บไซต์ของเราเมื่อผู้ใช้ทำการลงชื่อเข้าใช้งาน 
                </p>         
                <p style="text-align:left;">
                        - เมื่อระบบพบเห็นการกระทำที่ไม่เหมาะสม หรือได้รับการแจ้งเตือนมาจากผู้ใช้อื่นๆ Senseino จะทำการเตือนผู้ใช้นั้น โดยจะเป็นการเตือนผ่านอีเมล หรือการแสดงบนหน้าเว็บไซต์ของเราเมื่อผู้ใช้ทำการลงชื่อเข้าใช้งาน 
                </p>
                <br> 
                <h4>การใช้งานที่ไม่เหมาะสม</h4>         
                <p style="text-align:left;">
                        งานหรือบริการที่เข้าข่ายสื่อลามก – Senseino ไม่อนุญาตให้มีการซื้อ ขาย งานหรือบริการที่เข้าข่ายสื่อลามกแต่อย่างใด
                </p>         
                <p style="text-align:left;">
                        การกระทำและการใช้ภาษาที่ไม่เหมาะสม – ผู้ใช้ควรให้เกียรติซึ่งกันและกัน การสื่อสารผ่าน Senseino ควรจะแสดงออกถึงมารยาทที่ดี และมีความเป็นมืออาชีพ Senseino จะมีมาตรการต่อผู้ใช้ที่ทำการกลั่นแกล้ง หรือพูดจาเหยียดหยาม ดูถูกผู้อื่น
                </p>         
                <p style="text-align:left;">
                        ฟิชชิ่ง และการสแปม – Senseino ให้ความสำคัญกับความปลอดภัยของผู้ใช้เป็นอันดับหนึ่ง ผู้ใช้ห้ามการกระทำการใดๆก็ตามที่เข้าข่ายการพยายามที่จะเข้าสู่บัญชี หรืออุปกรณ์การใช้งานของผู้ใช้อื่นๆ ผ่านระบบของ Senseino ผู้ใช้ทุกคนควรให้เกียรติผู้ใช้อื่นโดยการไม่ติดต่อผู้ใช้อื่นในเชิงพาณิชย์หากผู้ใช้ดังกล่าวไม่ต้องการ
                </p>
                <p style="text-align:left;">
                        ความเป็นส่วนตัว และการยืนยันตัวตน – ผู้ใช้ไม่สามารถเปิดเผยข้อมูลส่วนตัวของผู้ใช้คนอื่น การแลกเปลี่ยนข้อมูลส่วนตัวทุกอย่าง ที่จำเป็นต่อการให้บริการงานบน Senseino ควรจะเกิดขึ้นบนหน้างานเท่านั้น ในที่นี้ ผู้ว่าจ้างและ Experts ยืนยัน และยอมรับในการใช้งานข้อมูลส่วนตัวของอีกฝ่ายสำหรับการให้บริการงานบน Senseino เท่านั้น ผู้ใช้ที่ปฏิบัติตามข้อลงการสื่อสารข้อมูลส่วนตัวดังกล่าวจะได้รับการปกป้องภายใต้ข้อตกลงการใช้งานของเรา
                </p>    
                <p style="text-align:left;">
                        การละเมิดลิขสิทธิ์ หรือทรัพย์สินทางปัญญา – Senseino จะไม่รับผิดชอบในการกระทำที่ทำให้เกิดการละเมิดลิขสิทธิ์หรือทรัพย์สินทางปัญญา Senseino ถือว่าการกระทำดังกล่าวเป็นการกระทำของตัวผู้ใช้เอง และผู้ใช้ยอมรับถึงผลลัพธ์ที่ตามมาทั้งหมดจากการกระทำ ทั้งนี้ Senseino ไม่สนับสนุนการละเมิดลิขสิทธิ์หรือทรัพย์สินทางปัญญา ไม่ว่าในกรณีไหนทั้งสิ้น ผู้ใช้ที่ได้ทำการละเมิดลิขสิทธิ์หรือทรัพย์สินทางปัญญาบนระบบ Senseino จะถูกระงับการใช้งาน
                </p>    
                <p style="text-align:left;">
                        การโกง หรือใช้ระบบอย่างผิดกฎหมาย – ผู้ใช้ไม่สามารถใช้ระบบ Senseino ในการกระทำใดๆที่ผิดต่อกฎหมายใดๆทั้งสิ้น
                </p> 
                <p style="text-align:left;">
                        การใช้งานระบบอย่างไม่เหมาะสม และการแสปม
                </p>    
                <p style="text-align:left;">
                        สร้างบัญชีผู้ใช้เป็นจำนวนมาก – เพื่อป้องกันการคดโกง และการใช้งานอย่างไม่เหมาะสม ผู้ใช้สามารถสร้างบัญชีผู้ใช้กับ Senseino ได้เพียง หนึ่งบัญชีเท่านั้น การสร้างบัญชีเพิ่มเติมอาจส่งผลให้บัญชีทั้งหมดของคุณถูกระงับการใช้งาน
                </p>    
                <p style="text-align:left;">
                        การละเมิดสิทธิผู้อื่น – Senseino จะไม่อดทนต่อผู้ใช้ใดๆที่ทำการละเมิดสิทธิหรือเบียดเบียนผู้ใช้อื่นๆ ผ่านการกระทำที่ไม่เหมาะสม รวมถึงการใช้คำพูดดูถูก เหยียดหยาม และการสร้างบัญชีมากกว่าหนึ่งบัญชีเพื่อใช้ในการกระทำดังกล่าว
                </p>            
                <p style="text-align:left;">
                        การใช้งานระบบอย่างไม่เหมาะสม และการแสปม
                </p>    
                <p style="text-align:left;">
                        สร้างบัญชีผู้ใช้เป็นจำนวนมาก – เพื่อป้องกันการคดโกง และการใช้งานอย่างไม่เหมาะสม ผู้ใช้สามารถสร้างบัญชีผู้ใช้กับ Senseino ได้เพียง หนึ่งบัญชีเท่านั้น การสร้างบัญชีเพิ่มเติมอาจส่งผลให้บัญชีทั้งหมดของคุณถูกระงับการใช้งาน
                </p>    
                <p style="text-align:left;">
                       การละเมิดสิทธิผู้อื่น – Senseino จะไม่อดทนต่อผู้ใช้ใดๆที่ทำการละเมิดสิทธิหรือเบียดเบียนผู้ใช้อื่นๆ ผ่านการกระทำที่ไม่เหมาะสม รวมถึงการใช้คำพูดดูถูก เหยียดหยาม และการสร้างบัญชีมากกว่าหนึ่งบัญชีเพื่อใช้ในการกระทำดังกล่าว       
                </p>         
                <p style="text-align:left;">
                        การขายบัญชี – ผู้ใช้ไม่สามารถทำการซื้อขายบัญชี Senseino ได้
                </p>
                <br>         
                <h4>ข้อตกลงทั่วไป</h4>         
                <p style="text-align:left;">
                        - Senseino ขอสงวนสิทธิ์ในการระงับการใช้งานบัญชีชั่วคราวหรือถาวร หาก Senseino พบว่าบัญชีดังกล่าวได้กระทำการละเมิดข้อตกลงการใช้งาน หรือมีการกระทำที่ไม่เหมาสมบนระบบของ Senseino
                </p>      
                <p style="text-align:left;">
                        - บัญชีที่ถูกระงับการใช้งานจะไม่สามารถทำการซื้อขายงานบนระบบ Senseino ได้      
                </p>  
                <p style="text-align:left;">
                        - ผู้ใช้ที่มีบัญชีที่ถูกระงับการใช้งานสามารถติดต่อทีมงาน Senseino เพื่อสอบถามถึงข้อมูลและสถานะของบัญชีดังกล่าวได้   
                </p>  
                <p style="text-align:left;">
                        - ในกรณีที่ Senseino ทำการตรวจสอบความเป็นเจ้าของบัญชี Senseino ของผู้ใช้ ผู้ใช้ต้องแสดงความเป็นเจ้าของบัญชีของ Senseino ผ่านหลักฐานต่างๆเช่น บัตรประจำตัวประชาชน สมุดบัญชี พาสปอร์ต หรือเอกสารทางกฎหมายต่างๆที่สามารถใช้ในการยืนยันตนเองได้
                </p>  
                <p style="text-align:left;">
                        - Senseino ของสงวนสิทธิ์ในการแก้ไขข้อตกลงในการใช้งานตามความเหมาะสม และเมื่อมีการเปลี่ยนแปลง Senseino จะทำการแสดงข้อตกลงในการใช้งานใหม่บนหน้านี้ และถือว่าผู้ใช้ได้ยินยอมตามข้อตกลงใหม่ในทันที
                </p>         
                <p style="text-align:left;">
                        การขายบัญชี – ผู้ใช้ไม่สามารถทำการซื้อขายบัญชี Senseino ได้
                </p>
                <br>         
                <h4>เนื้อหาที่สร้างโดยผู้ใช้</h4>         
                <p style="text-align:left;">
                        เนื้อหาที่สร้างโดยผู้ใช้ (User Generated Content หรือ “UGC”) หมายถึงเนื้อหาต่างๆที่ถูกสร้างขึ้นมาโดยผู้ใช้อื่นๆในระบบที่ไม่ได้ถูกสร้างจากตัว Senseino หรือ Platform Senseino เอง
                </p>      
                <p style="text-align:left;">
                        เนื้อหาทั้งหมดที่ถูกอัพโหลดขึ้นมาจากผู้ใช้สู่ Senseino ไม่ว่าจาก Experts หรือผู้ว่าจ้าง จะถือว่าเป็นเนื้อหาที่สร้างโดยผู้ใช้ทั้งหมด โดย Senseino ไม่มีความจำเป็นต้องทำการตรวจสอบเนื้อหาดังกล่าวถึงความเหมาะสม หรือการละเมิดสิทธิต่างๆของบุคคลอื่น ทั้งนี้ Senseino สนับสนุนให้ผู้ใช้ทุกคนแจ้งให้ทีมงาน Senseino ได้ทราบถึงการใช้งานเนื้อหาอย่างไม่เหมาะสม โดยทีมงาน Senseino จะทำการตรวจสอบเนื้อหาดังกล่าวประกอบด้วยหลักฐานที่ผู้ใช้ได้แนบให้เพิ่มเติมเพื่อทำการลบหรือระงับเนื้อหาตามความเหมาะสม
                </p>  
                <p style="text-align:left;">
                        Senseino จะไม่รับผิดชอบต่อคุณภาพของเนื้อหางาน หรือบริการที่ Experts ได้มอบให้กับผู้ว่าจ้าง และ Senseino ไม่ได้รับประกันถึงระยะเวลาการส่งมอบงาน
                </p>  
                <p style="text-align:left;">
                        Senseino ไม่อาจรับผิดชอบต่อการสื่อสารใดๆก็ตามแต่ระหว่างผู้ว่าจ้างกับ Experts หรือปัจจัยอื่นๆที่เกี่ยวข้องกับการให้บริการหรือส่งมอบงานของ Experts Senseino สนับสนุนให้ผู้ว่าจ้างใช้ระบบการรีวิว และให้คะแนนการประเมินเพื่อสะท้อนถึงความพึงพอใจที่ได้รับจากExperts ได้ หรือเป็นประสบการณ์การให้บริการของ Experts
                </p>  
                <p style="text-align:left;">
                        การให้บริการ หรือส่งมอบงานต่างๆที่ Expertsได้ทำการประกาศเอาไว้ในหน้ารายละเอียดงาน Expertsยื นยันว่าตนเองมีสิทธิเพียงพอในการใช้เนื้อหา หรือข้อมูลใดๆก็ตามในการให้บริการและส่งมอบงานผ่านระบบ Senseino ทุกอย่างที่ Experts ประกาศผ่านระบบ Senseino ต้องอยู่ภายใต้กฎหมาย และข้อตกลงการใช้งานของ Platform Senseino รวมไปถึงข้อตกลงการใช้งานของบุคคลอื่นๆที่ผูกมัดกับเนื้อหาที่Experts ใช้ในการให้บริการ ส่งมอบงาน หรือโฆษณา การละเมิดกฎหมายหรือข้อตกลงของบุคคลใดบุคคลหนึ่งอาจส่งผลต่อการระงับชื่อบัญชีผู้ใช้บนระบบ Senseino
                </p>
                <br>        
                <h4>เจ้าของผลงาน</h4>         
                <p style="text-align:left;">
                        การเป็นเจ้าของ และขอบเขตการใช้งานที่ส่งมอบ: หาก Experts ไม่ได้ระบุถึงขอบเขตการใช้งานบริการหรืองานที่ส่งมอบ งานหรือบริการทั้งหมดที่ Expertsได้ส่งมอบให้ผู้ว่าจ้างนั้นจะถือว่าเป็นของผู้ว่าจ้างโดยสมบูรณ์ ซึ่งรวมไปถึงความเป็นเจ้าของในลิขสิทธิ์ผลงาน และหรือทรัพย์สินทางปัญญาของงานที่ส่งมอบ ผู้ว่าจ้างจะถือว่าเป็นเจ้าของบริการหรืองานนั้นได้ต่อเมื่อผู้ว่าจ้างได้ทำการชำระเงินสำหรับงานดังกล่าว แล้วหากมีการยกเลิกออเดอร์ก่อนส่งมอบงาน Experts ยังถือสิทธิ์การเป็นเจ้าของบริการหรือผลงานนั้นๆ ยกเว้นแต่ Experts ได้ระบุให้ผู้ว่าจ้างสามารถใช้เนื้อหาดังกล่าวได้ ถึงแม้ว่าออเดอร์จะถูกยกเลิกก็ตาม
                </p>      
                <p style="text-align:left;">
                        นอกจากนี้ ข้อมูลทุกอย่างที่สื่อสารกันระหว่าง Experts และผู้ว่าจ้างผ่านหน้างาน จะถือว่าเป็นข้อมูลส่วนบุคคลที่ Experts ไม่สามารถนำมาเปิดเผยได้หากไม่ได้รับอนุญาตจากผู้ว่าจ้าง
                </p>  
                <p style="text-align:left;">
                        ทั้งนี้ ผู้ใช้ (ผู้ว่าจ้างและ Experts) ยอมรับว่า Senseino มีสิทธิ์ที่จะนำเนื้อหาต่างๆในเนื้อหาที่ผู้ใช้อัพโหลดขึ้นมาสู่ระบบ Senseino เช่น ข้อความ รูปภาพ วีดีโอ ชื่อบัญชี หรือข้อมูลใดๆก็ตามรวมถึงผลงานที่ส่งมอบ ในการโฆษณาหรือสำหรับการใช้งานอื่นๆของ Senseino โดย Senseino ไม่มีความจำเป็นต้องขออนุญาตจากผู้ใช้แต่อย่างใด
                </p>
                <br>
                <h4>การสงวนสิทธิ์การประกัน</h4>   
                <p style="text-align:left;">
                        การใช้งานของท่านใน Platform Senseino ข้อมูลต่าง ๆ ของ Platform Senseino และบริการต่าง ๆ หรือสินค้าต่าง ๆ ที่ได้รับผ่านPlatform Senseino นั้นเป็นความรับผิดชอบของท่าน Platform Senseino ข้อมูลต่าง ๆ ของ Platform Senseino และบริการต่าง ๆ หรือสินค้าต่าง ๆ ที่ได้รับผ่าน Platform Senseino นั้นเป็นการให้บริการแบบอยู่บนพื้นฐานของความน่าเชื่อถือตามสภาพ (“as is” basis) และการให้บริการตามที่มีหรือเป็นอยู่ (“as available”) โดยไม่มีการรับประกันใด ๆ ทั้งสิ้นไม่ว่าจะโดยเปิดเผยหรือโดยนัยก็ตาม Senseino หรือผู้ใดก็ตามที่เกี่ยวข้องกับ Senseino ไม่รับรองกรณีใด ๆ เกี่ยวกับความสมบูรณ์ ความปลอดภัย ความน่าเชื่อถือ คุณภาพ ความแม่นยำ หรือความพร้อมของ Platform
                </p>  
                <p style="text-align:left;">
                        ข้อความข้างต้นไม่มีผลต่อการรับประกันใด ๆ ที่ไม่สามารถยกเว้นหรือจำกัดได้ตามที่กฎหมายกำหนด
                </p>
                <br>       
                <h4>ข้อจำกัดด้านความรับผิดชอบ</h4>   
                <p style="text-align:left;">
                        Senseino ผู้เกี่ยวข้องหรือผู้ออกใบอนุญาต ผู้ให้บริการ ลูกจ้าง ตัวแทน พนักงานหรือผู้บริหารของ Senseino ปฏิเสธความรับผิดชอบในสถานการณ์ใด ๆ ต่อค่าเสียหายใด ๆ ตามหลักกฎหมายใด ที่มาจากหรือเกี่ยวข้องกับการใช้งาน หรือการไม่สามารถใช้งาน Platform หรือเว็บไซต์อื่น ๆ หรือบริการอื่น ๆ หรือสินค้าที่ได้รับผ่านเว็บไซต์หรือเว็บไซต์อื่น ๆ และหมายรวมถึงความเสียหายทั้งโดยตรง โดยอ้อม พิเศษ โดยประมาท โดยเป็นผลสืบเนื่องจากการผิดสัญญา หรือค่าเสียหายที่จะเป็นการลงโทษ ซึ่งรวมถึงการบาดเจ็บส่วนบุคคล ความเจ็บปวดหรือความทุกข์ทรมาน ความเจ็บปวดทางจิตใจ การเสียรายได้ การเสียกำไร การสูญเสียโอกาสทางธุรกิจหรือกำไรที่คาดหวังไว้ ความเสียหายต่อร่างกาย ต่อทรัพย์สิน ต่อชื่อเสียง ต่อข้อมูล ไม่ว่าเป็นผลจากการละเมิด (ซึ่งรวมถึงการละเลย) การผิดสัญญาหรือกรณีอื่น ๆ ไม่ว่าจะสามารถคาดการณ์ได้หรือไม่ก็ตาม
                </p>  
                <p style="text-align:left;">
                        ข้อความข้างต้นไม่มีผลต่อการรับประกันใด ๆ ที่ไม่สามารถยกเว้นหรือจำกัดได้ตามที่กฎหมายกำหนด
                </p>  
        </div>
    </div>
</section>
<aside data-ng-include="'/modules/footers/views/footer.html'"></aside> 