<div class="topbar-cover" ng-controller="TopbarController as vm">
    <div class="topbar-wrapper container-fluid">
        <div class="topbar-left">
            <a ng-href="/#/"><img src="/assets/img/logo_senseino.png"></a>
        </div>
        <div class="topbar-right">
            <ul class="topbar-menu">
                <li><a ng-href="/#/customers" translate="TOPBAR.ENTERPRISE"></a></li>
                <li><button class="btn btn-action-border" ng-click="scrollTo('contactme')" translate="TOPBAR.CONTACT"></button></li>
            </ul>
        </div>
    </div>
</div>